.fade-down {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.6s ease-out forwards;
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down-cart {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.3s ease-out forwards;
}

.fade-down-invert {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeDown 0.4s ease-out forwards;
}

@keyframes fadeDown-invert {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes slideDownFade {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUpFade {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.toast-enter {
    animation: slideDownFade 0.3s ease forwards;
}

.toast-exit {
    animation: slideUpFade 0.3s ease forwards;
}